# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/industry-project.iml
/.idea/modules.xml
/.idea/vcs.xml
/amplify/.config/project-config.json
/amplify/backend/api/industryproject/resolvers/Mutation.createUserPlays.init.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.createUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.createUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.createUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.deleteUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.deleteUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.deleteUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.updateUserPlays.init.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.updateUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.updateUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Mutation.updateUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/Query.getUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Query.getUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Query.getUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/Query.listUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Query.listUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Query.listUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/README.md
/amplify/backend/api/industryproject/resolvers/Subscription.onCreateUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onCreateUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onCreateUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onDeleteUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onDeleteUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onDeleteUserPlays.res.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onUpdateUserPlays.postAuth.1.req.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onUpdateUserPlays.req.vtl
/amplify/backend/api/industryproject/resolvers/Subscription.onUpdateUserPlays.res.vtl
/amplify/backend/api/industryproject/stacks/CustomResources.json
/amplify/backend/api/industryproject/cli-inputs.json
/amplify/backend/api/industryproject/parameters.json
/amplify/backend/api/industryproject/schema.graphql
/amplify/backend/api/industryproject/transform.conf.json
/amplify/backend/auth/industryproject446d1891/cli-inputs.json
/amplify/backend/types/amplify-dependent-resources-ref.d.ts
/amplify/backend/backend-config.json
/amplify/backend/tags.json
/amplify/hooks/README.md
/amplify/cli.json
/amplify/README.md
/amplify/team-provider-info.json
/src/graphql/mutations.js
/src/graphql/queries.js
/src/graphql/schema.json
/src/graphql/subscriptions.js
/.graphqlconfig.yml
