.playMaker {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.canvasButtons {
    display: flex;
    position: relative;
    bottom: -52px;
    left: 58px;


}

.basketballCourt {
    background-position: center;
    background-color: #282c34;
    border-style: solid;
    border-color: gold;
    transform: scale(1.2);
    background-image: url("/src/Basketball_court_fiba.svg");
    background-size: 90% 87%;
    height: 600px;
    width: 400px;
    background-repeat: no-repeat;
}
