.main-content {
    display: flex;
    position: absolute;
    right: 100px;
    flex-direction: column;
    justify-content: right;
    min-height: 100vh;
}

.canvasButtons {
    display: flex;
    position: relative;
    bottom: -75px;
    left: 40%;
    margin: 0 -110px;
}

.basketballCourt {
    background-position: center;
    margin-top: 80px;
    background-color: #282c34;
    border-style: solid;
    transform: scale(1.2);
    background-image: url("/src/Basketball_court_fiba.svg");
    background-size: 90% 87%;
    height: 600px;
    width: 400px;
    background-repeat: no-repeat;
}
